<!doctype html>
<title>Привет с планеты Rotoro!</title>

  {% if db_connect_result %}
<body style="background: black; background: url({{ url_for('static', filename='img/rocket_fly.jpg') }}) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;"></body>
  {% else %}
<body style="background: black; background: url({{ url_for('static', filename='img/rocket_crash.jpg') }}) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;"></body>
  {% endif %}

<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">

  {% if name %}
    <h1>На связи узел: <b style="color:red">{{ name }}</b>!</h1>	
  {% endif %}
	
  {% if db_connect_result %}
    <h1> Подключение к БД успешно!</h1>
	<h1>Полет нормальный, коммандир!!</h1> 
  {% else %}
    <h1> Подключение к БД не установлено!</h1>
	<h1>Мы потеряли ракету, коммандир!!</h1> 
  {% endif %}
  
  {% if debug %}
    <h2> {{ debug }} </h2>
  {% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

  <h1>Связь завершена.</h1>

</div>
